body{
    margin: 0;
}
  
.profile-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #fdcd07;
}
 
.portada figure
{
    margin: 0;
}

.portada-img img {
    /* background-color: rgba(0,0,0,0.8); */
    filter:brightness(0.4);
    height: 500px;
    object-fit: cover;
}

.profile{
    margin: 20px;
    margin-top: -400px;
    position: relative;
    background:transparent;
    /* border: 1px solid gray; */
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    /* border: 1px solid red; */
}

.profile p{
    line-height: 0.5;
}

.profile .name{
    color: white;
    font-size: 24px;
    font-family: "Fjalla One";
    text-align: center;
    /* line-height: 0.2; */
    margin-bottom: 10px;  

}

.profile .profession {
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.profile-img{
    display: flex;
    justify-content: center;
}
.profile img{
    width: 168px;
    height: 168px;
    border: 1px solid transparent;
    border-radius: 150px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
}
.redes-sociales img{
    height: 30px;
    width: 30px;
    margin: 0 10px;
    color: #fdcd07;
}


nav {
    margin-top: 60px;
    margin-left: -40px;
    margin-bottom: 0;
    /* border: 1px solid red; */
}

.profile nav ol{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.profile nav ol li{
    color:white;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 10px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.profile nav ol li:hover{
    /* background-color: #47c9e5; */
    /* color: white; */
    background-color: #fdcd07; /* Amarillo Condor Labs :) */
    color: black;
}

.profile nav ol a{
    text-decoration: none;
}

.menu-item-todos{
    background-color: #fdcd07; /* Amarillo Condor Labs :) */
    color: black !important;
}

/* SECCION DE ABOUT ME */

.about{
    /* border: 5px solid blue; */
    margin-top: -35px;
    height: 600px;
    width: 100%;
    background-color: #fdcd07; /*Amarillo Condor Labs :) */
}

.about-info h1 {
    /* border: 5px solid pink; */
    font-family: 'Fjalla One',sans-serif;
    font-size: 2em;
    color: white;
    padding-top: 20px;
    text-align: center;
    /* letter-spacing: 0.02em; */
    /* font-weight: bold; */
}
.about-info p {
    font-family: 'Fjalla One',sans-serif;
    /* font-family: Roboto,sans-serif;
    font-weight: 300; */
    color: white;
    /* width: 400px; */
    margin: 0 150px;
    font-size: 24px;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.about-img{
    /* border: 5px solid red; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.about-img img{
    /* border: 5px solid green; */
    width: 540px;
    height: 330px;
    margin-bottom: 35px;
}

/* SECCION DE PROYECTOS */

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.projects-title{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 24px;
}
.project-list{
    width: 90%;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.project{
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: -3px 6px 0.5px gainsboro;
    width: 500px;
    margin-bottom: 15px;

}

.project-title{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    margin: 10px 0;
    margin-bottom: 0;
    text-align: center;

}
.project-div{
    display: flex;
    align-items: center;
}
.project figure{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 25%;
}
.project figure img{
    width: 80px;
    vertical-align: middle;
}

.project-details{
    width: 75%;
}

.project-description{
    font-size: 14px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    text-align: justify;
    width: 95%;
    margin: 0 0 15px 0;
}

.project-language{
    display: none;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
}

.verMas {
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0;
    margin-bottom: 20px;
    padding: 5px 0;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    
}
.verMas img {
    vertical-align: middle;
}

.verMas a {
    width: 100%;

}

.verMas button {
    font-family: Roboto,sans-serif;

    font-weight: 300;
    width: 100%;
    margin: 0;
    background-color: transparent;
    border: none;
}

.verMas p {
    margin: 0;
    height: 100%;
    width: 100%;
}


/* SECCION DE FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100px;
    width: 100%;
    background-color: black;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1023px){
    .about {
        margin-top: -35px;
        height: 632px;
        width: 100%;
        background-color: #fdcd07;
    }
    .project {
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: -3px 6px 0.5px gainsboro;
        width: 450px;
        margin-bottom: 15px;
    }
    .project figure img {
        width: 60px;
        vertical-align: middle;
        margin-bottom: 30px;
    }
    .verMas {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }
}

/* Redmi note 5 version escritorio */
@media screen and (max-width: 980px){
    .body, section, figure, img, div, .project-list{
        max-width: 980px;
    }

    .about {
        margin-top: -35px;
        height: 661px;
        width: 100%;
        background-color: #fdcd07;
    }
    .project {
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: -3px 6px 0.5px gainsboro;
        width: 420px;
        margin-bottom: 15px;
    }
    .project figure img {
        width: 60px;
        margin-bottom: 30px;
    }
    .verMas {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }



}

@media screen and (max-width: 767px){
    .body, section, figure, img, div, .project-list{
        max-width: 767px;
    }
    .about {
        height: 625px;
    }
    .about p{
        color: red;
    }
    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        color: white;
        margin: 0 100px;
        font-size: 20px;
        text-align: center;
    }
    
    .projects-title p{
        text-align: center;
        margin: 10px 150px 0px 150px; ;
    }
    .projects-title{
        font-family: Roboto,sans-serif;
        font-weight: 300;
        font-size: 18px;
    }
    .project-list{
        justify-content: space-around;
    }
    .project {
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: -3px 6px 0.5px gainsboro;
        width: 330px;
        /* text-align: center; */
        /* margin-bottom: 15px; */
    }

    .project figure img {
        width: 60px;
        margin-bottom: 30px;
    }
    .project-description {
        font-size: 12px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        width: 95%;
        margin: 0 0 15px 0;
    }
    .verMas {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }
}

@media screen and (max-width: 480px){

    .profile nav ol li {
        font-size: 10px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 10px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
    }
    .about {
        /* border: 5px solid blue; */
        margin-top: -35px;
        height: 545px;
        width: 100%;
        background-color: #fdcd07;
    }
    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        color: white;
        /* width: 400px; */
        margin: 0 20px;
        font-size: 15px;
        text-align: center;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    .about-img img {
        /* border: 5px solid green; */
        width: 442px;
        height: auto;
        margin-bottom: 114px;
    }
    .projects-title {
        font-family: Roboto,sans-serif;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
    }
    .project-description {
        font-size: 11px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        width: 95%;
        margin: 0 0 15px 0;
    }
    .project figure img {
        margin-bottom: 30px;
        width: 60px;
        vertical-align: middle;
    }
    .verMas {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }


}
/* Iphone # plus */
@media screen and (max-width: 414px){
    .about-info h1 {
        font-family: 'Fjalla One',sans-serif;
        font-size: 1.4em;
        color: white;
        padding-top: 20px;
        text-align: center;
    }

    .profile nav ol li {
        font-size: 13px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 2px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
    }
    .about {
        height: 445px;
    }
    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        color: white;
        margin: 0 20px;
        font-size: 15px;
        text-align: center;
    }
    .about-img img {
        width: 340px;
        height: auto;
        margin-bottom: 175px;
    }
    .projects-title {
        text-align: center;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        font-size: 24px;
    }
    .project figure img {
        width: 60px;
        margin-bottom: 30px;
    }
    .project-description {
        font-size: 11px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
    }
    .verMas {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }
}
/* Redmi Note 5 */
@media screen and (max-width: 394px){
    

    .profile nav ol li {
        font-size: 7px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 10px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
    }
    .about {
        height: 437px;
    }
    .about-info h1 {
        /* border: 5px solid pink; */
        font-family: 'Fjalla One',sans-serif;
        font-size: 1.5em;
        color: white;
        padding-top: 20px;
        text-align: center;
        /* letter-spacing: 0.02em; */
        /* font-weight: bold; */
    }

    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        color: white;
        /* width: 400px; */
        margin: 0 20px;
        font-size: 14px;
        text-align: center;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    
    .about-img img {
        width: 340px;
        height: auto;
        margin-bottom: 175px;
    }

    .projects-title {
        text-align: center;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        font-size: 24px;
    }
    .projects-title p {
        text-align: center;
        margin: 10px;
    }
    .project-description {
        font-size: 11px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        width: 95%;
        margin: 0 0 15px 0;
    }
    .project figure img {
        width: 60px;
        vertical-align: middle;
        margin-bottom: 30px;
    }
    .verMas {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }
    
    
}
/* Iphone # */
@media screen and (max-width: 375px){
    
    .profile nav ol li {
        font-size: 10px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 2px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        
    }
    .about {
        /* border: 5px solid blue; */
        margin-top: -35px;
        height: 445px;
        width: 100%;
        background-color: #fdcd07;
    }
    .about-info h1 {
        font-family: 'Fjalla One',sans-serif;
        font-size: 1.4em;
        color: white;
        padding-top: 20px;
        text-align: center;
    }
    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        color: white;
        width: auto;
        margin: 0 20px;
        font-size: 14px;
        text-align: center;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    .about-img img {
        /* border: 5px solid green; */
        width: 360px;
        height: auto;
        margin-bottom: 158px;
    }

    .projects-title {
        text-align: center;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        font-size: 24px;
    }

    .project figure img {
        margin-bottom: 30px;
        width: 60px;
        vertical-align: middle;
    }
    .project-description {
        font-size: 11px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        width: 95%;
        margin: 0 0 15px 0;
    }
    .verMas {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }
    
}

/* Moto G5 */
@media screen and (max-width: 360px){

    .about {
        /* border: 5px solid blue; */
        margin-top: -35px;
        height: 465px;
        width: 100%;
        background-color: #fdcd07;
    }
    
    
    .profile nav ol li {
        font-size: 9px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 2px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
    }
    .about-img img {
        width: auto;
        height: 200px;
        margin-bottom: 190px;
    }
    .about-info h1 {
        font-family: 'Fjalla One',sans-serif;
        font-size: 1.3em;
        color: white;
        padding-top: 20px;
        text-align: center;
        
    }
    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        color: white;
        margin: 0 25px;
        font-size: 15px;
        text-align: center;
    }
    .projects-title {
        text-align: center;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        font-size: 24px;
    }
    .project-description {
        font-size: 10px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        width: 95%;
        margin: 0 0 15px 0;
    }
    .project figure img {
        margin-bottom: 30px;
        width: 50px;
        vertical-align: middle;
    }

    .verMas {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: 0;
        margin-bottom: 20px;
        padding: 5px 0;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
    }
    
}