body{
    margin: 0;
}
  
.profile-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #fdcd07;
}
 
.portada figure
{
    margin: 0;
}

.portada-img img {
    /* background-color: rgba(0,0,0,0.8); */
    filter:brightness(0.4);
    height: 500px;
    object-fit: cover;
}

.profile{
    margin: 20px;
    margin-top: -400px;
    position: relative;
    background:transparent;
    /* border: 1px solid gray; */
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    /* border: 1px solid red; */
}

.profile p{
    line-height: 0.5;
}

.profile .name{
    color: white;
    font-size: 24px;
    font-family: "Fjalla One";
    text-align: center;
    /* line-height: 0.2; */
    margin-bottom: 10px;  

}

.profile .profession {
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.profile-img{
    display: flex;
    justify-content: center;
}
.profile img{
    width: 168px;
    height: 168px;
    border: 1px solid transparent;
    border-radius: 150px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
}
.redes-sociales img{
    height: 30px;
    width: 30px;
    margin: 0 10px;
    color: #fdcd07;
}


nav {
    margin-top: 60px;
    margin-left: -40px;
    margin-bottom: 0;
    /* border: 1px solid red; */
}

.profile nav ol{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.profile nav ol li{
    color:white;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 10px;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.profile nav ol li:hover{
    /* background-color: #47c9e5; */
    /* color: white; */
    background-color: #fdcd07; /* Amarillo Condor Labs :) */
    color: black;
}

.profile nav ol a{
    text-decoration: none;
}

.menu-item-todos{
    background-color: #fdcd07; /* Amarillo Condor Labs :) */
    color: black !important;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

.projects-title{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    font-size: 24px;
}
.project-list{
    width: 90%;
    /* border: 1px solid red; */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.project{
    /* border-radius: 10px; */
    display: flex;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: -3px 6px 0.5px gainsboro;
    width: 500px;
    text-align: center;
    margin-bottom: 15px;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
    /* background-image: url(../images/simulated-annealing-algorithm-dark.png); */

}
.project figure{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 30%;
}
.project figure img{
    width: 90px;
    margin-left: 10px;
    vertical-align: middle;    
}

.project-details{
    /* border:1px solid red; */
    width: 300px;
    /* padding-left: 30px;
    padding-right: 30px; */
}

.project-description{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    text-align: justify;
    width: 300px;
    /* border: 1px solid #fdcd07; */
    /* width: 350px; */
}
.project-title{
    font-family: Roboto,sans-serif;
    font-weight: 300;
    /* object-fit: cover; */
    /* letter-spacing: 0.1em; */
    /* font-weight: bold; */
    /* margin: 0px; */
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.project-language{
    display: none;
    font-family: Roboto,sans-serif;
    font-weight: 300;
    text-align: left;
    margin: 0;
}

/* SECCION DE ABOUT ME */

.about{
    /* border: 5px solid blue; */
    margin-top: -35px;
    height: 600px;
    width: 100%;
    background-color: #fdcd07; /*Amarillo Condor Labs :) */
}

.about-info h1 {
    /* border: 5px solid pink; */
    font-family: 'Fjalla One',sans-serif;
    font-size: 2em;
    color: white;
    padding-top: 20px;
    text-align: center;
    /* letter-spacing: 0.02em; */
    /* font-weight: bold; */
}
.about-info p {
    font-family: 'Fjalla One',sans-serif;
    /* font-family: Roboto,sans-serif;
    font-weight: 300; */
    color: white;
    /* width: 400px; */
    margin: 0 150px;
    font-size: 24px;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.about-img{
    /* border: 5px solid red; */
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.about-img img{
    /* border: 5px solid green; */
    width: 540px;
    height: 330px;
    margin-bottom: 5px;
}


/* SECCION DE FOOTER */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100px;
    width: 100%;
    margin-top: -20px;
    /* background-color: #0B1911; */
    background-color: black;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

@media screen and (max-width: 1023px){
    .about {
        /* border: 5px solid blue; */
        margin-top: -35px;
        height: 660px;
        width: 100%;
        background-color: #fdcd07;
    }
}

/* Redmi note 5 version escritorio */
@media screen and (max-width: 980px){
    .body, section, figure, img, div, .project-list{
        max-width: 980px;
    }

    .about {
        /* border: 5px solid blue; */
        margin-top: -35px;
        height: 691px;
        width: 100%;
        background-color: #fdcd07;
    }



}

@media screen and (max-width: 767px){
    .body, section, figure, img, div, .project-list{
        max-width: 767px;
    }
    .about{
        height: 655px;
    }
    .about p{
        color: red;
    }
    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        /* font-family: Roboto,sans-serif;
        font-weight: 300; */
        color: white;
        /* width: 400px; */
        margin: 0 100px;
        font-size: 20px;
        text-align: center;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    
    .projects-title p{
        text-align: center;
        margin: 10px 150px 0px 150px; ;
    }
    .projects-title{
        font-family: Roboto,sans-serif;
        font-weight: 300;
        font-size: 18px;
    }
    .project-list{
        justify-content: space-around;
    }
    .project{
        /* border-radius: 10px; */
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: -3px 6px 0.5px gainsboro;
        width: 280px;
        text-align: center;
        margin-bottom: 15px;
        /* border-top-left-radius: 0;
        border-top-right-radius: 0; */
        /* background-image: url(../images/simulated-annealing-algorithm-dark.png); */
    
    }

    .project figure img{
        width: 200px;
    }
    

}

@media screen and (max-width: 480px){
    .body, section, figure, img, div, .project-list{
        max-width: 480px;
    }

    .profile nav ol li {
        font-size: 10px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 10px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        /* font-family: Arial, Helvetica, sans-serif; */
    }

    .about {
        height: 624px;
    }
    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        color: white;
        /* width: 400px; */
        margin: 0 25px;
        font-size: 14px;
        text-align: center;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    .projects-title p {
        text-align: center;
        margin: 10px 50px 0px 50px;
    }
    .project {
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: -3px 6px 0.5px gainsboro;
        width: 480px;
        height: 150px;
        text-align: center;
        margin-bottom: 15px;
        /* background-image: url(../images/simulated-annealing-algorithm-dark.png); */
    }
    .project-container{
        display: block;
        margin-top: -115px;
    }
    
    .project-description {
        margin-right: -52px;
        margin-top: -7px;
        margin-left: 115px;
        font-size: 12px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        /* border: 1px solid #fdcd07; */
        /* width: 350px; */
    }
    .project-language {
        display: none;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: left;
        margin: 0;
    }
    .project figure img {
        margin-left: -255px;
        width: 152px;
        margin-top: 5px;
    }

    .project-title {
        text-align: left;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        /* object-fit: cover; */
        /* letter-spacing: 0.1em; */
        /* font-weight: bold; */
        margin-left: 178px;
    }

}
/* Iphone # plus */
@media screen and (max-width: 414px){
    .body, section, figure, img, div, .project-list{
        max-width: 414px;
    }
    .profile nav ol li {
        font-size: 13px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 2px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    .about {
        height: 500px;
    }
    .about-img img {
        /* border: 5px solid green; */
        width: 340px;
        height: auto;
        margin-bottom: 145px;
    }
    .project figure img {
        margin-left: -203px;
        width: 152px;
        margin-top: 5px;
    }
    .project-description {
        margin-right: -25px;
        margin-top: -7px;
        margin-left: 135px;
        font-size: 10px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        /* border: 1px solid #fdcd07; */
        /* width: 350px; */
    }
}
/* Redmi Note 5 */
@media screen and (max-width: 393px){
    .body, section, figure, img, div, .project-list{
        max-width: 393px;
    }

    .profile nav ol li {
        font-size: 7px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 10px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        /* font-family: Arial, Helvetica, sans-serif; */
    }

    .about {
        height: 500px;
    }
    .about-img img {
        /* border: 5px solid green; */
        width: 340px;
        height: auto;
        margin-bottom: 170px;
    }

    .project-description {
        margin-right: -20px;
        margin-top: -7px;
        margin-left: 109px;
        font-size: 9px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        /* border: 1px solid #fdcd07; */
        /* width: 350px; */
    }
    .project figure img {
        margin-left: -228px;
        width: 103px;
        margin-top: 23px;
    }
    .project-description {
        margin-right: -20px;
        margin-top: -7px;
        margin-left: 94px;
        font-size: 11px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        text-align: justify;
        /* border: 1px solid #fdcd07; */
        /* width: 350px; */
    }
}
/* Iphone # */
@media screen and (max-width: 375px){
    .body, section, figure, img, div, .project-list{
        max-width: 375px;
    }
    .profile nav ol li {
        font-size: 10px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 2px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    .about-img img {
        /* border: 5px solid green; */
        width: 340px;
        height: auto;
        margin-bottom: 165px;
    }
}
/* Moto G5 */
@media screen and (max-width: 360px){
    .project {
        border: 1px solid rgba(0,0,0,.2);
        box-shadow: -3px 6px 0.5px gainsboro;
        width: 337px;
        height: 150px;
        text-align: center;
        margin-bottom: 15px;
        /* background-image: url(../images/simulated-annealing-algorithm-dark.png); */
    }
    .project figure img {
        margin-left: -211px;
        width: 103px;
        margin-top: 29px;
    }
    .project-title {
        text-align: left;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        /* object-fit: cover; */
        /* letter-spacing: 0.1em; */
        /* font-weight: bold; */
        margin-left: 124px;
    }
    .about {
        height: 466px;
    }
    .about-info h1 {
        /* border: 5px solid pink; */
        font-family: 'Fjalla One',sans-serif;
        font-size: 1.3em;
        color: white;
        padding-top: 20px;
        text-align: center;
        /* letter-spacing: 0.02em; */
        /* font-weight: bold; */
    }
    .about-info p {
        font-family: 'Fjalla One',sans-serif;
        color: white;
        /* width: 400px; */
        margin: 0 25px;
        font-size: 15px;
        text-align: center;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    .profile nav ol li {
        font-size: 9px;
        color: white;
        border: 1px solid rgba(255,255,255,.2);
        border-radius: 30px;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px 2px;
        font-family: Roboto,sans-serif;
        font-weight: 300;
        /* font-family: Arial, Helvetica, sans-serif; */
    }
    
}