body{
    margin: 0;
}

.profile-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #fdcd07;
}

.portada figure
{
    margin: 0;
}

.portada-img img {
    /* background-color: rgba(0,0,0,0.8); */
    filter:brightness(0.4);
    height: 500px;
    object-fit: cover;
}

.profile{
    margin: 20px;
    margin-top: -400px;
    position: relative;
    background:transparent;
    /* border: 1px solid gray; */
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    /* border: 1px solid red; */
}

.profile p{
    line-height: 0.5;
}

.profile .name{
    color: white;
    font-size: 24px;
    font-family: "Fjalla One";
    text-align: center;
    /* line-height: 0.2; */
    margin-bottom: 10px;  

}

.profile .profession {
    color: white;
    font-size: 18px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.profile-img{
    display: flex;
    justify-content: center;
}
.profile img{
    width: 168px;
    height: 168px;
    border: 1px solid transparent;
    border-radius: 150px;
}
.redes-sociales{
    display: flex;
    justify-content: center;
}
.redes-sociales img{
    height: 30px;
    width: 30px;
    margin: 0 10px;
    color: #fdcd07;
}


nav {
    margin-top: 60px;
    margin-left: -40px;
    margin-bottom: 0;
    /* border: 1px solid red; */
}

.profile nav ol{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.profile nav ol li{
    color:white;
    border: 1px solid rgba(255,255,255,.2);
    border-radius: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.profile nav ol li:hover{
    /* background-color: #47c9e5; */
    /* color: white; */
    background-color: #fdcd07; /* Amarillo Condor Labs :) */
    color: black;
}

.profile nav ol a{
    text-decoration: none;
}

.menu-item-todos{
    background-color: #fdcd07; /* Amarillo Condor Labs :) */
    color: black !important;
}
.projects{
    display: flex;
    justify-content: center;
    margin: 0;
}
.project-list{
    width: 90%;
    /* border: 1px solid red; */
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}



.project{
    /* border-radius: 10px; */
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: -3px 6px 0.5px gainsboro;
    width: 380px;
    text-align: center;
    margin-bottom: 15px;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
    /* background-image: url(../images/simulated-annealing-algorithm-dark.png); */

}

.project figure img{
    width: 300px;
}

.project-div{
    display: flex;
    justify-content: center;
}

.project-details{
    /* border:1px solid red; */
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;

}
.project-title{
    font-family: 'Fjalla One';
    /* letter-spacing: 0.1em; */
    /* font-weight: bold; */
    /* margin: 0px; */
    /* padding-top: 20px;
    padding-bottom: 20px; */
    object-fit: cover;
}

.project-language{
    margin: 0;
}